$title
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
c  1                                                                           \
   basis =c def2-SVP
n  2                                                                           \
   basis =n def2-SVP
h  3-6                                                                         \
   basis =h def2-SVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=1329
   natoms=6
   nshell=24
   nbf(CAO)=50
   nbf(AO)=48
   dim(trafo[SAO<-->AO/CAO])=54
   rhfshells=1
$scfmo   file=mos
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$dft
   functional b3-lyp
   gridsize   m3
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$closed shells
 a       1-8                                    ( 2 )
$scfinstab rpas
$soes a            3
$rpacor   2000
$denconv 1d-7
$last step     define
$end
