$title
VE
$operating system unix
$symmetry c1
$coord    file=coord
$user-defined bonds    file=coord
$atoms
c  1-30                                                                        \
   basis =c TZVP
h  31-48                                                                       \
   basis =h TZVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=251760
   natoms=48
   nshell=342
   nbf(CAO)=708
   nbf(AO)=678
   dim(trafo[SAO<-->AO/CAO])=768
   rhfshells=1
$scfmo   file=mos
$closed shells
 a       1-99                                   ( 2 )
$scfiterlimit       100
$escfiterlimit       150
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$lock off
$scfinstab rpas
$soes
 a            7
$rpacor   2000
$denconv 1d-7
$last step     escf
$orbital_max_rnorm 0.49557340713663E-05
$last SCF energy change = -1146.7342
$dipole from dscf
  x    -0.01899473496519    y    -0.07407227401610    z    -0.00000000000062    a.u.
   | dipole | =    0.1943661763  debye
$end
